body {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    background-color: #e83e8c ;
}

h1 {
 font-weight: 700;
 font-size: 3.75rem;
 color: #707070;
}

footer {
    background-color: #e83e8c ;
}